#pairs
    .collapsible-body
        padding: 0 !important

.btn-block
    width: 100%

table
    &.table-header
        thead
            background-color: rgba(242, 242, 242, 0.5) !important

.container
    width: 400px !important

.price
    font-weight: 600

.remove, .price, .variation, .rule
    font-size: 16px

body
    background-color: slategray

td, th
    padding: 10px 5px

.tabs
    .tab
        a
            color: rgba(38, 166, 154, 0.7) im !important
            &:hover
                background-color: #263238 !important
                color: #26a69a !important
            &.active
                color: #26a69a !important
                background-color: #263238 !important
    .indicator
        background-color: #26a69a !important

.no-margin-bottom
    margin-bottom: unset !important

.select-dropdown
    color: white
    max-height: 200px !important